<%- include("partials/header.ejs") %>
<h1>About Me</h1>
<img class="profile" src="images/my picture.jpg" alt="my picture profile">
<p>
  A Computer Science student (graduating in October 2024) with strong analytical skills and self-learning ability. Proficient in problem-solving and passionate about technology. Actively seeking roles in Software Development.</p>

<%- include("partials/footer.ejs") %>