<%- include("partials/header.ejs") %>


  <h1>Home Page</h1>

  <p>Hi there, my name is Maayan. I'm a third-year computer science student, and I developed this website as part of my coursework at Udemy. By utilizing technologies such as Express.js, Node.js, and EJS, I've created a user-friendly interface that allows users to connect with me and access information about me. Additionally, I employed HTML, CSS, and JavaScript to design and implement various features throughout the site. I hope you enjoy your visit here.
  </p>
  <p>I am currently seeking employment opportunities in this field, particularly in frontend or backend development roles.</p>

  <%- include("partials/footer.ejs") %>